*{
	box-sizing: border-box;
}
body{
	margin: 0;
	padding: 0;
}
.menu{
	font-weight: bold;
	color: #fff;
	background-color: #45015d;
	border-radius: 15px;
	padding: 10px 20px;
	width: 151px;
	position: fixed;
	height: 100%;
	top: 0;
}
.main-menu-list a {
	color: #fff;
	text-decoration: none;
	display: block;
	padding: 8px 16px;
}
.logo{
	color: #fff;
	text-decoration: none;
	margin: 10px 0;
	display: inline-block;
	font-size: 22px;
}
.main{
	margin-left: 360px;
	margin-right: 40px;
	margin-top: 80px;
}
h2{
	color: #45015d;
	font-size: 40px;
}
p{
	font-size: 19px;
	text-align: justify;
}
h1{
	font-size: 50px;
}
hr{
	border: 5px solid #45015d;
	border-radius: 4px;
	width: 100%;
	margin: 20px 0;
	background-color: #45015d;
}

.images img{
	width: 45%;
	border-radius: 10px;
	margin: 5px;
	opacity: 0.7;
}
.images img:hover{
	opacity: 1;
}
.inportant-text{
	font-weight: bold;
}
.team-item{
	padding: 8px;
	width: 30%;
	display: inline-block;
}
.team-item img{
	border-radius: 10px;
	width: 100%;
	filter: grayscale(41%);
}
.team-item-description{
	background-color: #f1f1f1;
	border-radius:5px;
	padding: 2px 16px 5px;
}

.team-member-position{
	color: grey;
}
.tariff-descriprion-list li{
	list-style: none;
	padding: 20px;
	border-bottom: 1px solid lightgrey;
}
.tariff-descriprion-list{
	margin: 0;
	padding: 0;
}
.tariff{
	width: 40%;
	background-color: #f1f1f1;
	text-align: center;
	border-radius: 15px;
	display: inline-block;
	margin-right: 15px;
}
.tariff-title{
	color: white;
	background-color: purple;
	padding: 30px;
	margin: 0;
	border-radius:inherit;
	font-size: 20px;
}
.tariff-button{
	display: inline-block;
	border:none;
	background-color: white;
	font-size: 18px;
	padding: 14px;
	border-radius: 23px;
	margin-bottom: 9px;
	color:#45015d;
	cursor: pointer;
}
.tariff p{
	text-align: center;
}
.tariff span{
	font-weight:bold;
	font-size: 35px;
	display: block;
}
.tariff p:nth-child(1){
	border-bottom: 1px solid lightgrey;
}
.footer-site{
	background-color: lightgrey;
	padding: 14px;
	position: relative;
	z-index: 123;
}
.last{
	color: rgb(38,51,47);
}
.footer-site p{
	text-align: right;
}
.tariff-title-pro{
	background-color: #FF4500;
}
.tariff-button-pro{
	background-color:  #FF4500;
	color: white;
}
label {
	display: block;
}
input[type=submit]{
	display: block;
	color: white;
	background-color:#45015d; 
	border-radius: 11px;
	font-size: 20px;
}
input{
	width: 100%;
	padding: 10px;
	border-color: lightgrey;
}